<div class="container mx-auto flex items-center justify-center h-full w-full m-0 p-0 ">
  <div class="bg-grey-light w-64 text-center border-2 border-red h-32">
    <h1>Hello Webpack(er)</h1>
  </div>
</div>
